* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Space Grotesk', sans-serif;
}

/* .scroll-custom::-webkit-scrollbar {
    width: 6px;     
    height: 6px;    
}


.scroll-custom::-webkit-scrollbar-thumb {
    background: #46b578;
    border-radius: 4px;
}


.scroll-custom::-webkit-scrollbar-thumb:hover {
    background: #53d88f;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}


.scroll-custom::-webkit-scrollbar-thumb:active {
    background-color: #3e9d69;
}


.scroll-custom::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}


.scroll-custom::-webkit-scrollbar-track:hover,
.scroll-custom::-webkit-scrollbar-track:active {
    background: transparent;
} */
