* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Space Grotesk', sans-serif;
}

.scroll-custom::-webkit-scrollbar {
    width: 6px;     /* Tamaño del scroll en vertical */
    height: 6px;    /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.scroll-custom::-webkit-scrollbar-thumb {
    background: #46b578;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.scroll-custom::-webkit-scrollbar-thumb:hover {
    background: #53d88f;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.scroll-custom::-webkit-scrollbar-thumb:active {
    background-color: #3e9d69;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.scroll-custom::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.scroll-custom::-webkit-scrollbar-track:hover,
.scroll-custom::-webkit-scrollbar-track:active {
  background: transparent;
}
